body{
	margin: 0;
	padding: 0;
	
}
*{
	font-family: 'Montserrat', sans-serif ;
	box-sizing: border-box;
}
.container {
	max-width: 1920px;
}
.header{
	width: 100%;
	height: 68px;
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 100px;
	background: #252728;
	margin: 0;

}
.header .header__phone{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
nav{
	display:flex ;
	align-items: center;
}
.menu .menu_link{
	display: flex;
	justify-content: center;
	font-size: 14px;
	font-weight: 500;
	margin-right: 4px;
	color: #FFFFFF;
	text-decoration: none;
}
.menu li{
	margin: 0;
	margin-right: 10px;
	list-style-type: none;
}
.menu_link:hover{
	text-decoration: none;
	color: #6F6D6F;
}
.header .header__phone{
	color: #ffff;
	
}
.lang{
	font-size: 14px;
	margin-right: 4px;
	color: #FFFFFF;
}

/* lang-switcher */
.language-switcher {
	position: relative;
}
.language-switcher.arrow {
	position: relative; 
	width: 20px; 
	height: 20px; 
}
.language-switcher.arrow::before {
	content: ''; 
	position: absolute;
	top: 0;
	left: 50%;
	width: 0;
	height: 0;
	border-left: 10px solid transparent; 
	border-right: 10px solid transparent; 
	border-top: 10px solid #FFFF; 
	transform: translateX(-50%); 
}
.language-button {
	background-color: #252728; 
	color: white; 
	padding: 10px 15px; 
	cursor: pointer; 
	display: flex;
	align-items: center;
	border:none;
}
.language-options {
	display: none; 
	position: absolute;
	top: 100%; 
	left: 0;
	background-color: #444; 
	border: 1px solid #FFFF; 
	z-index: 1000; 
}
.language-option {
	padding: 10px 15px;
	cursor: pointer; 
}
.language-option:hover {
	background-color: #555; 
	color:#ffff;
}
/* section-service */
.service{
	margin: 38px 0 100px 0;
	align-items: center;
}
.title__main{
	margin: 0;
	margin-top: 24px;
	font-size: 48px;
	font-weight: 700;
	text-align: center;
	color: #000000;
}
.service .service__wrapper{
	display: block;
	margin: 0 auto;
	width: 680px;
}
.service__tabs {
	display: flex;
	justify-content: center;
	margin-top: 60px;
}
.service__tab-button {
	background: none;
	border: none;
	margin:0 20px 0 20px;
	padding: 0;
	cursor: pointer;
	font-size: 16px;
}
.service__tab-button.active {
	color: #D70C19;
	border-bottom: 2px solid #D70C19;
}
.service__tab-content {
	margin-top: 30px;
}

.service__tab {
	display: none;
}
.servicer__tab.active {
	display: block;
}
.link-to-main-page{
	margin-left: 7%;
	font-style: 14px;
	color: #373637;
}
.service__line{
	width: 600px;
	height: 1px;
	background-color: #F2F3F5;
	display: block;
	margin: 0 auto; 
	margin-top: 100px;
}
.title__service-sing{
	margin: 0;
	margin-top: 40px;
	font-size: 32px;
	font-weight: 700;
	text-align: center;
	color: #000000;
	
}
.service__descr{
	margin: 0;
	margin-top: 24px;
	padding: 0 40px;
	font-style: 16px;
	text-align: center;
	color: #373637;
}
.service #service__form{
	margin-top: 60px;
}
.service #service__form label{
	display: block;
	font-size: 14px;
	color:#373637;
}
.service #service__form input{
	/* width: 680px; */
	width: 100%;
	height: 48px;
	margin:10px 0 24px 0;
	font-style: 16px;
	color:#373637;
	cursor: pointer;
	border: 1px solid #ccc;
	padding: 13px;
}
.service #service__form select{
	/* width: 680px; */
	width: 100%;
	height: 48px;
	margin:10px 0 24px 0;
	padding: 13px;
	color:#373637;
	cursor: pointer;
	border: 1px solid #ccc;
}
.services__date-picker {
	position: relative;
	margin: 20px 0;
}
.services__calendar {
	display: none; /* hidden */
	position: absolute;
	background: white;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	z-index: 1000;
	margin-top: 5px;
	width: 270px;
	height: 160px;
}
.services__calendar div {
	display: inline-block;
	padding: 10px;
	cursor: pointer;
	text-align: center;
}
.services__calendar div:hover {
	background-color: #000000;
	color:#ffff;
	border-radius: 4px;
}
.service__time-selection {
	margin: 20px 0;
}
.service__time-label {
	display: block;
	margin-bottom: 10px;
	font-size: 16px;
}
.service__time-options {
	display: flex;
}
.service__time-option {
	border: 1px solid #ccc;
	padding: 10px 20px;
	margin-right: 10px;
	cursor: pointer;
	text-align: center;
	transition: background-color 0.3s, border-color 0.3s;
}
.service__time-option.active {
	background-color: black;
	color: white;
	border-color: black;
}
.service__time-option:hover {
	border-color: #888;
}
.service #service__form textarea{
	width: 680px;
	height: 160px;
	margin:10px 0 24px 0;
	color:#373637;
	border: 1px solid #ccc;
}
/* .checkbox-label {
	display: flex;
	align-items: center;
	cursor: pointer;
} */
.checkbox {
	display: none; 
}
.checkbox-custom {
	width: 20px;
	height: 20px; 
	border: 2px solid #ccc;
	border-radius: none;
	margin-right: 10px; 
	position: relative; 
	transition: background-color 0.3s, border-color 0.3s; 
}
.checkbox-text{
	margin: -17px 0 0 30px;
}
.checkbox-text a{
	color:#000000;
}
.checkbox:checked + .checkbox-custom {
	background-color: black; 
	border-color: black; 
}
.checkbox:checked + .checkbox-custom::after {
	content: ''; 
	position: absolute;
	top: 4px;
	left: 8px; 
	width: 5px; 
	height: 10px; 
	border: solid white; 
	border-width: 0 2px 2px 0; 
	transform: rotate(45deg);
}
.service__btn{
	width: 325px;
	height: 48px;
	display: block;
	margin: 0 auto;
	margin-top: 60px;
	padding: 12px 30px; 
	border: 2px solid black; 
	background-color: white;
	color: black; 
	font-size: 18px;
	cursor: pointer; 
	transition: background-color 0.3s, color 0.3s; 
	outline: none; 
}
.service__btn:hover{
	background-color: black;
	color:#FFFF;
}