:root{
    --title-color:#000000;
    --header-bg-color:#252728;
    --header-hover-menu-color:#6F6D6F;
    --main-text-color:#373637;
    --tab-selected-color:#D70C19;
    --time-selected-color: #000000;

}

